@page
@model CRUD.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.ProduceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.ProduceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
